@use "@scss/varibles" as *;
@use "@scss/media" as *;

.blog {
  padding: 60px 0;
}

.title {
  text-align: center;
  font-size: 80px;
  color: $green;
  font-family: $second-family;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 40px;
  @include tablet {
    font-size: 58px;
  }
}

.contentBlock {
  display: flex;
  gap: 20px;
}
